@model PagedList.IPagedList<MyVizCollections.Models.ColourAI>
@using PagedList.Mvc

@{
    ViewBag.Title = "QueueBoard - Projects in progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<style>
    .container {
        padding-right: 5px;
        margin-right: auto;
        margin-left: 25px;
    }
</style>



<div class="row" style="margin-top: 20px;margin-bottom:10px;">
    <div class="col-md-6" style="width:100%;">

        <form class="form-inline" autocomplete="off">
            <div class="form-group">
                <label for="example-datepicker" style="margin-left:220px;">From:</label>
                <input type="text" id="txtStartDate" value="@ViewBag.searchQuery3" name="startDate" title="From Date: Enter a date from which you wish to do a search. It is limited to seven days at a time." class="datepicker form-control" style="color:black;width:110px" />

                <label for="example-datepicker" style="margin-left:15px;">Until:</label>
                <input type="text" id="txtEndDate" value="@ViewBag.searchQuery4" name="endDate" title="You can search for seven days at a time from the given 'From Date'" class="datepicker form-control" style="color:black;width:110px" readonly />

                <button type="button" class="btn btn-primary" id="btnFilterDateRange" style="height: 32px; margin: 2px;margin-right:10px">Get</button>
            </div>

           
            <button type="submit" class="btn btn-primary" id="btnClear" onserverclick="Is" runat="server" title="Clears the selection and shows last 100 projects">Clear</button>
           

    </div>
    </form>

</div>
</div>


<div class="panel panel-primary list-panel" id="list-panel" style="width:45%;margin-left:250px;">
    <div class="panel-heading list-panel-heading">
        <h1 class="panel-title list-panel-title">
            MyViz AI03 Popular Shades
        </h1>
    </div>

    <div class="container body-content" style="width: 1400px;"></div>

    <div class="panel-body" style="width: 100%; overflow: auto;">
        <table id="assets-data-table" class="table table-striped table-bordered" style="width: 100%; position: relative;">
            <thead>
                <tr>
                   
                    <th style="white-space: nowrap; position: sticky; width: 12%;">
                        Shade Group
                    </th>
                    <th style="white-space: nowrap; position: sticky; width: 4%;">
                        Shade Code
                    </th>

                    <th style="white-space: nowrap; position: sticky; width: 24%;">
                        Shade Name
                    </th>
                    <th style="white-space: nowrap; position: sticky; width: 10%;">
                        Colour

                    </th>
                    <th style="white-space: nowrap; position: sticky; width: 4%;">
                        Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model)
                {
                    <tr>


                        <td>@asset.ShadeGroup</td>
                        <td>@asset.ShadeCode</td>
                        <td>@asset.ShadeName</td>
                        @*<td>@asset.Colour</td>*@
                        <td style="font-size:12px;height:2px;background-color:@asset.Colour;"><nobr></nobr></td>
                        <td>@asset.Count</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
            @Html.PagedListPager(Model, page => Url.Action("PopularShades", new { page,  startDate = ViewBag.Sdate, endDate = ViewBag.searchQuery4 , imodval = ViewBag.IMode }))

        </div>

        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

        @section Scripts {
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#txtStartDate").datepicker({
                        onClose: function () {
                            var date2 = $('#txtStartDate').datepicker('getDate');
                            date2.setDate(date2.getDate() + 7)
                            $("#txtEndDate").datepicker("setDate", date2);
                        }

                    });
                });

                $(function () {
                    $("#txtStartDate").datepicker();
                    $("#txtStartDate").datepicker("option", "dateFormat","dd-mm-yy");
                    $("#txtEndDate").datepicker();
                    $("#txtEndDate").datepicker("option", "dateFormat", "dd-mm-yy");

                    $("#txtStartDate").datepicker("setDate", '@ViewBag.searchQuery3')
                    $("#txtEndDate").datepicker( "setDate" , '@ViewBag.searchQuery4')
                });
               

            $("#btnFilterDateRange").click(function () {
                var startDate = $("#txtStartDate").val();
                var endDate = $("#txtEndDate").val();
                window.location.href = '@Url.Action("PopularShades", "ColourAI")' + '?startDate=' + startDate + '&endDate=' + endDate;
            });

                    $("#btnClear").click(function () {
                     
                        $("#txtStartDate").datepicker("setDate", null);
                        $("#txtEndDate").datepicker("setDate", null);



                    window.location.href = '@Url.Action("Index", "ColourAI")';

                });
            </script>
        }
