@model List<MyVizCollections.Models.WStatusLog>
@{
    ViewBag.Title = "Myvizinsylog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 406px; padding-left: 15px; padding-right: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="height: 0px;font-size:18px;color:darkblue"><b>MyVizInsy log Details</b></h5>
                <button type="button" class="close closeredirect" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <table style="font-family: Arial; font-size: 12px; font-weight: 300; border-collapse: separate; border-spacing: 10px 2px;">
                <thead>
                    <tr style="height:30px;">
                        <th><b>ProjectID</b></th>
                        <th><b>PSECode</b></th>
                        <th><b>Log Type</b></th>
                        <th><b>Status Date</b></th>
                        @*<th><b>Count</b></th>*@
                        @*<th><b>Remarks</b></th>*@
                    </tr>


                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr style="height:30px;">
                            <td>@Html.DisplayFor(modelItem => row.ProjectID)</td>
                            <td>@Html.DisplayFor(modelItem => row.PSECode)</td>
                            <td>@Html.DisplayFor(modelItem => row.LogType)</td>
                            <td>@Html.DisplayFor(modelItem => row.M_dateFormatted)
                            @*<td>@Html.DisplayFor(modelItem => row.Count)</td>*@
                            <!--<td>@Html.DisplayFor(modelItem => row.Remarks)</td>--> <!-- Display formatted date -->
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    // Keep the existing script that opens the modal, remove the closeredirect click event, it's not needed
    $(function () {
        $("#exampleModal").modal("show");
    });
</script>


<script>
    $(function () {
        $("#exampleModal").modal("show");
       
        $(".closeredirect").click(function () {
            window.close();
        });
    });



</script>


